*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 70PX;
  
    
}
h1{
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
H2{
    display: none;
}
img{
 position: absolute;
 top: 70px;
 right: 40px;
 rotated_image = ./.110x110.rotate(45) 
}